@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color:#355691
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 83.3vh;
  overflow: auto;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  padding: 1em;
}

li a {
  display: flex;
  flex-direction: column-reverse;
  color: White;
  text-decoration: none;
}

li a::before {
  content: '';
  display: block;
  background-color: white;
  width: 100%;
  height: 2px;
  visibility: hidden;
  transform: scaleX(0);
  transition: .2s ease-in;
}

li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
